.appContainer {
  max-height: 100vh;
  height: 100vh;
  overflow-y: scroll;
}

.notification-icon {
  font-size: 1.2rem !important;
  vertical-align: text-bottom;
  margin-right: 0.8rem;
}

.App {
  text-align: center;
}

.loading {
  position: relative;
  height: 100%;
  width: 100%;
}

.loading img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bodySpacer {
  margin: 7em 0;
}
@media only screen and (max-width: 780px) {
  .bodySpacer {
    margin: 5.5em 0;
  }
}

a {
  color: #0d8aca;
  font-family: "Roboto", "Helvetica", "Arial", "sans-serif";
  font-size: 14px;
  text-decoration: none;
}
.openLinkContainer {
  display: inline-block;
}
@media only screen and (max-width: 780px) {
  .openLinkContainer {
    display: block;
  }
}
.openLink {
  color: inherit;
  text-decoration: none;
}

a:hover,
.openLink:hover {
  color: rgb(225, 0, 80);
  text-decoration: underline;
}

li {
  margin-bottom: 0.5em;
}

mark {
  background: lightgoldenrodyellow;
  color: #e6147e;
  padding: 3px 6px;
  border-radius: 6px;
}
div[class*="BodyPart-heading-"] {
  flex-basis: 34%;
}

.collapsed,
/* tables */ .tabularRow {
  padding: 1rem 1.5rem;
  border-bottom: 1.25px solid #d8d8d8;
}
.tabular .tabularRow:last-child {
  border: none;
}
.tabularRowSubheading {
  font-size: 0.95rem !important;
}
.tabularRowTitle {
  display: inline-block;
  width: 9rem;
}
.tabularRowDescription {
  display: inline-block;
  color: rgba(0, 0, 0, 0.57);
}
.tabularRowFlag {
  height: 1.8em;
  width: auto;
  margin-right: 1em;
  float: left;
  margin-top: -0.2em;
}
.tabularRowPeriod {
  font-size: 0.8rem;
  color: #e10050;
  margin: 0 1.5rem 0 1rem;
}
@media only screen and (max-width: 780px) {
  .tabularRowPeriod {
    margin: 0 1.5rem 0 0;
  }
  .tabular {
    border-radius: 0 !important;
  }
}
.tabularRowInlineBlock {
  display: inline-block;
  width: 20%;
  border: none;
}
@media only screen and (max-width: 780px) {
  .tabularRowInlineBlock {
    width: 100%;
  }
}
.tabularRowRole {
  margin-right: 1rem;
  color: rgba(0, 0, 0, 0.57);
}

.expansionPanelSummary div:first-child {
  flex-wrap: wrap !important;
}

.strengths_table {
  width: 100%;
}
.strengths_table td {
  padding: 4px 4px 0 0;
}

.Employment h3 {
  margin-bottom: 2rem;
}

/* optimizations for printing */

.printing .appContainer {
  overflow: unset;
}

.printing {
  padding: 0;
}

.printing .strengths_table {
  margin-top: -1em;
}

.printing * {
  font: 12px arial, sans-serif;
  line-height: 1.5em !important;
}

.printing button {
  display: none;
}

.printing ul {
  padding: 0 0 0 0.05em;
  margin: 0.5em 0 0 0;
}
.printing li {
  margin-bottom: 0.25em;
}

.printing a {
  color: inherit;
}

.printing .CVtitle {
  text-align: center;
  margin-bottom: 2rem;
}

.printing .expandIcon,
.printing .expansionPanelTabs,
.printing .topNav {
  display: none;
}

.printing .Employment,
.printing .Technologies {
  margin-top: 0;
}

.printing .expansionPanelSummary {
  min-height: 0 !important;
  height: 0 !important;
}

.printing .heading {
  max-width: 45%;
}

.printing .tabularRow {
  padding: 0.25rem 1.5rem;
  border: none;
}

.printing .tabularRowTitle {
  width: 7rem;
}

.printing .tabularRowInlineBlock {
  width: auto;
}

.printing div[class*="BodyPart-root-"].Employment {
  margin-top: 0;
}

.printing div[class^="TopNav-"] header {
  position: relative;
  background: none;
  text-align: center;
  margin-top: 1em;
  color: black;
  box-shadow: none;
}

.printing div[class^="TopNav-"] header {
  background: none;
  text-align: center;
  margin-top: 1em;
  color: black;
  box-shadow: none;
}

.printing .bodySpacer {
  margin-top: 0;
}

.printing img[class*="SectionDetails-techStack_img-"] {
  height: 1.5em;
}

.printing .blocks p[class*="BodyPart-heading-"] {
  min-width: 100%;
}
.printing .Technologies p[class*="BodyPart-heading-"] {
  min-width: 100%;
}
.printing p[class*="BodyPart-secondaryHeading-"] {
  margin-left: 0;
  font-size: 1em;
}
.printing .collapsed div[class*="BodyPart-title-"] {
  margin-bottom: 2.5em;
}
.printing .collapsed h3[class*="BodyPart-title-"] {
  margin: 0 0 2.5em 0;
}

.printing .techStack {
  max-width: 6em;
  bottom: 0;
}
.printing .techStack div {
  display: inline-block;
  margin-right: 1em;
}

.printing .table.Education {
  margin-top: 1.5rem;
}

.printing .blocks.Visa.Status {
  margin-top: 1.5rem;
}

.printing div[class*="BodyPart-root-"] {
  margin-top: 1em;
}

.printing img[class*="BodyPart-flag-"] {
  margin-top: 0em;
}
.printing .employment img[class*="BodyPart-flag-"] {
  margin-top: 0.15em;
}

.printing .contact {
  position: absolute;
  top: 1.5em;
  right: 1.5em;
}
.printing .contact div {
  font-size: 0.8em;
}

.printing .fullCVMessage {
  opacity: 1 !important;
  background: #0d8aca;
  color: white;
  text-align: center;
  margin-top: 3em;
  letter-spacing: 1.5px;
  bottom: 0;
}

.printing .flag {
  margin-top: 0;
}
