/* example-split.css */
.jsoneditor {
  border: none !important;
}

.split-horizontal {
  display: flex;
  width: 100%;
  height: 100%;
}
.split-vertical {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.gutter {
  flex-shrink: 0;
  flex-grow: 0;
  background: rgb(76, 131, 242);
  max-width: 4px;
}
.gutter-horizontal {
  cursor: col-resize;
}
.gutter-vertical {
  cursor: row-resize;
}
.gutter:hover {
  background: rgb(0, 75, 160);
}
.gutter-dragging:hover {
  background: rgb(0, 75, 160);
}

.pane {
  flex-shrink: 1;
  flex-grow: 1;
  position: relative;
  min-width: 20rem;
}
.pane-dragging {
  overflow: hidden;
}

.scrollable {
  height: 100vh;
  max-height: 100vh;
  overflow: scroll;
}
